{% extends "base.html" %}

{% block body %}  
<h1> My Bookmarks </h1>
<div id="all-my-bookmarks">

<body>
    <div>
        {% for bookmark in bookmarks %}
        <table>
            <tr>
            <th>Source</th>
            <td class=source>{{bookmark.source}}</td>
            <th>Title</th>
            <td class=title>{{bookmark.title}}</td>
            <th>Author</th>
            <td class=author>{{bookmark.author}}</td>
            <th>Description</th>
            <td class=description>{{bookmark.description}}</td>
            <th>URL</th>
            <td class=url>{{bookmark.url}}</td>
        {% endfor %}
    </div>
    <script src="/static/bookmark.js"></script>
</body>
{% endblock %}
</div>