{% extends "base.html" %}
{% block head %}  
<head>
    <h1> My Bookmarks </h1> 
    <a href="http://54.87.20.249/article-feed">Back to Article Feed</a>
</head>
{% endblock %}
{% block body %}  

<body>
    <div>
        <table>
            <th>Source</th>
            <th>Title</th>
            <th>Author</th> 
            <th>Description</th>
            <th>URL</th>
            <th>Unbookmark</th>
        
            {% for bookmark in bookmarks %}
            
                <tr>
                    
                    <td class=source>{{bookmark.source}}</td>
                    
                    <td class=title>{{bookmark.title}}</td>
                    
                    <td class=author>{{bookmark.author}}</td>
                    
                    <td class=description>{{bookmark.description}}</td>
                    
                    <td class=url><a href="{{bookmark.url}}" target="_blank">{{bookmark.url}}</a></td>
                    
                    <td>
                        <form class="unbookmark">
                            <button type="submit" input-type="hidden" data-url="{{bookmark.url}}">Unbookmark</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
         </table>        
    </div>

    <script src="/static/bookmark.js"></script>
</body>
{% endblock %}
</div>