{% extends "base.html" %}

{% block body %}  
<h1> Welcome {{ subscribers_name }} to the Gov-Fix Article Feed </h1>
<div id="article-request-results">

<head>
   <div>
       <h4>Start date cannot be any date before a month from today</h4>
       <!-- If statement for value one or the other (interpolation?)-->
        <form action="/article-feed" id="date_range" method="POST">
            
           <label for="start">Start date:</label>
            
            <input type="date" id="start" name="articlefeed-from" value={{ TWO_WEEKS }}
            min="2021-10-12" max="2022-12-31">

            <label for="end">End date:</label>

            <input type="date" id="end" name="articlefeed-to"
                    value={{ td }}
                    min="2021-10-12" max="2022-12-31">
        
            <label>Search another Keyword:<input type="text" name= "keywordsearch" ></label>
            <input type="submit" value="Submit">
        </form>
    </div>
</head>


<body>
    <div>
        {% for i in range(article_data | length) %}
        <table>
            <tr>
            <th>Source</th>
            <td class=source>{{article_data[i]['source']}}</td>
            <th>Title</th>
            <td class=title>{{article_data[i]['title']}}</td>
            <th>Author</th>
            <td class=author>{{article_data[i]['author']}}</td>
            <th>Description</th>
            <td class=description>{{article_data[i]['description']}}</td>
            <th>URL</th>
            <td class=url>{{article_data[i]['url']}}</td>
            <th>Bookmark?</th>
            <td>
                <form class="bookmark">
                    <button type="submit" id="bookmark-button{{i}}" input-type="hidden" data-source="{{article_data[i]['source']}}" 
                    data-title="{{article_data[i]['title']}}", data-author="{{article_data[i]['author']}}" 
                    data-description="{{article_data[i]['description']}}" data-url="{{article_data[i]['url']}}" 
                    data-subscriber="1">Bookmark</button>
                </form>
            </td>
            </tr>
        </table>
        {% endfor %}

        <a href="http://localhost:5000/view-all-my-bookmarks">My bookmarks</a>
    </div>
    <script src="/static/bookmark.js"></script>
</body>
{% endblock %}
</div>
