{% extends "base.html" %}

{% block head %}  
<head>
    <div class="centeredhead"> 
        <h1> 📜 GOV-FIX 📜 </h1> 
    </div>
    <!-- <img src="static/anna-sullivan-BBHIPz-gPXs-unsplash.jpg" alt="congress"> -->
    <link rel="stylesheet" href="/static/homepage.css">
</head>
{% endblock %}

{% block body %} 

<body>
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="row">
                <div class="col" id="signinform">
                    <div class="borderbox">
                        <h4>Subscriber Sign In</h4>

                        <form id=login action="/login" method="POST">
                        <label>Email</label>
                        <input type=text name=email required>
                        <label>Password</label>
                        <input type=password name=password required>
                        <form>
                            <button type="submit">Sign In</button>
                        </form>
                        </form> 
                    </div>
                </div>

                <div class="col" id="signupform">
                    
                    <h4>Subscriber Sign Up</h4>

                    <form id=subscriber_form action="/subscriber-sign-up" method="POST">
                        <label>Full Name:</label>
                        <input type=text name=fullname required>
                        <br> </br>
                        <label>Email Address</label>
                        <input type=text name=email required>
                        <br> </br>
                        <label>Pick a Password</label>
                        <input type=password name=password required>
                        <br> </br>
                        
                        What industry do you work in?
                        <select name="industry">
                            <option value="blank"> </option>
                            <option value="healthcare and medicine">Healthcare and medicine</option>
                            <option value="arts and entertainment">Arts and entertainment</option>
                            <option value="business administration">Business administration</option>
                            <option value="industrial and manufacturing">Industrial and manufacturing</option>
                            <option value="law enforcement and armed forces">Law enforcement and armed forces</option>
                            <option value="software and technology">Software and Technology</option>
                        </select>
                        <br> </br>
                        What are you using this information for?
                        <select name="usecase">
                            <option value="blank"> </option>
                            <option value="personal">Personal</option>
                            <option value="customer service">Customer Service</option>
                            <option value="sales">Sales</option>
                            <option value="marketing">Marketing</option>
                            <option value="administrative">Administrative</option>
                            <option value="public relations">Public Relations</option>
                            <option value="purchasing and operations">Purchasing and Operations</option>
                            <option value="finance">Finance</option>
                            <option value="information technology">Information Technology</option>
                        </select>

                        <form>
                            <button type="submit">Sign Up</button>
                        </form>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}